INPUT/otras
.ipynb_checkpoints/
__pycache__/
.vscode/
.git/
.gitignore
__init__.py
googlenet_rps.h5
model.h5
modelrms.h5
modelDense.h5
modelgray.h5
modelGray.h5
modelRN50.h5
modelRN101.h5
modelRN101s.h5
finalized_model.sav
modelRFC.sav
modelRN50a.h5
modeld.h5

Pruebas/
src/libcudnn.so
src/libcudnn.so.7
tmp.h5
